main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	margin: 20px;
	flex-grow: 1;
	gap: 20px;
}

form {
	display: flex;
	flex-direction: column;
	text-align: right;
	gap: 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--color3);
	padding: 40px 20px 40px 20px;
	border-radius: 30px;
	width: 35%;
	margin: 20px;
	box-sizing: border-box;
}

.casilla {
	width: 100%;
	resize: vertical;
}

.info-contacto {
	margin: 20px;
	padding: 20px;
	background-color: var(--color3);
	border-radius: 20px;
	text-align: center;
	width: 30%;
	box-sizing: border-box;
}

.info-contacto ul {
	list-style: none;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (max-width: 768px) {
	main {
		flex-direction: column;
		align-items: center;
	}

	.wrapper {
		width: 100%;
	}

	.info-contacto {
		width: 100%;
		margin-top: 0;
	}
}
