/* ==============================
   CONTENEDOR PRINCIPAL (GRILLA)
   ============================== */
main {
    display: grid;
    padding: 16px;
    gap: 16px;
    grid-template-columns: 1fr;
    place-content: center;
    width: 100%;
    box-sizing: border-box;
}

/* ==============================
   TARJETAS DE ANIMALES
   ============================== */
.card {
    background-color: var(--color3);
    color: var(--texto);
    border-radius: 20px;
    border: 0 0 0 0;
    padding: 20px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Elementos multimedia de las tarjetas */
.imagen {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    border: 6px solid var(--texto);
}

/* ==============================
   DISEÑO RESPONSIVO (MEDIA QUERIES)
   ============================== */
/* Adaptación de la grilla para pantallas medianas y grandes */
@media (min-width: 992px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}
